USE [master]
GO
/****** Object:  Database [FakultetDb]    Script Date: 11/20/2017 9:17:10 PM ******/
CREATE DATABASE [FakultetDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ID', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ID.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FakultetDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FakultetDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FakultetDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FakultetDb]
GO
USE [FakultetDb]
GO
/****** Object:  Table [dbo].[BachelorStudent]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BachelorStudent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[datumRodjenja] [date] NULL,
	[maticniBroj] [varchar](50) NULL,
	[prethodnoObraz] [varchar](50) NULL,
	[korisnickoIme] [varchar](50) NULL,
	[lozinka] [varchar](50) NULL,
 CONSTRAINT [PK_BachelorStudent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NastavnoOsoblje]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NastavnoOsoblje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[datumRodjenja] [date] NULL,
	[maticniBroj] [varchar](50) NULL,
	[pozicija] [varchar](50) NULL,
	[strucnaSprema] [varchar](50) NULL,
	[titula] [varchar](50) NULL,
	[plata] [decimal](18, 0) NULL,
	[korisnickoIme] [varchar](50) NULL,
	[lozinka] [varchar](50) NULL,
 CONSTRAINT [PK_NastavnoOsoblje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predmeti]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmeti](
	[naziv] [varchar](50) NULL,
	[brojVjezbi] [int] NULL,
	[brojPredavanja] [int] NULL,
	[brojStudenata] [int] NULL,
	[brojEtcs] [int] NULL,
	[opis] [varchar](50) NULL,
	[studijskaGodina] [varchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Predmeti] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[imenaStudenata]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[imenaStudenata]
AS
SELECT ime 
FROM BachelorStudent
GO
/****** Object:  StoredProcedure [dbo].[prosjekPlate]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prosjekPlate]
AS
SELECT AVG(plata)
FROM NastavnoOsoblje
GO
/****** Object:  StoredProcedure [dbo].[sviPredmeti]    Script Date: 11/20/2017 9:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sviPredmeti]
AS
SELECT *
FROM Predmeti
GO
USE [master]
GO
